
.challenge {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  text-align: left;
  margin: 1.5rem 0.5rem;
  /* @apply sm:w-screen; md:w-95 lg:w-1/4 xl:w-1/5; */

  .title {
    color: var(--neon-cyan);
    font-size: 1.875rem;
    margin: 0.5rem -1rem;

    svg {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .icon {
    width: 2rem;
    height: 2rem;

  }

  .question {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .question .explanation {
    display: none;
  }

  .option {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    /* list-style-type: none; */
    display: grid;
    grid-template-columns: 3rem 1fr;
    cursor: pointer;
    line-height: 1.5;
    color: var(--secondary);

    & * {
      cursor: pointer;
    }
    &:hover {
      /* background-color: var(--primary-foreground); */
      color: var(--primary-forground);
    }
  }

  .correct {
    .option {
      & * {
        cursor: not-allowed;
      }
      &:hover {
        /* background-color: var(--primary-foreground); */
        color: var(--neon-cyan);
      }

    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    /* align-content: center; */
    .btn {
      text-align: center;
      display: grid;
      grid-template-columns: 2.5rem 1fr;
      width: 18ch;
      align-items: center;
      color: var(--secondary);
      text-wrap: nowrap;
    }
  }

  .btn {
    /* background: none;
    text-decoration: inherit;

    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    border-image-slice: 1; */
    border: 2px solid var(--neon-cyan);
    color: var(--neon-cyan);
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
  }
}


.pulse {
  animation: pulse .5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* .squiggle {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
} */
