---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { slugify } from "@/shared/pathHelpers";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Main from "../layouts/Main.astro";

import { PostCollections } from "../shared/dataCache";
import "@/styles/nav.css";
import "@/styles/global.css";
import FormattedDate from "../components/FormattedDate.astro";

const posts = await PostCollections.getPosts();
---

<Main>
  <ul slot="default">
    {
      posts.map(async (post) => (
        <li>
          <a href={`/${slugify(post.slug)}/`}>
            <h4 class="title">{post.data.title}</h4>
          </a>
        </li>
      ))
    }
  </ul>

</Main>
