---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { slugify } from "@/shared/pathHelpers";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";

import { PostCollections } from "../shared/dataCache";
import "@/styles/nav.css";
import "@/styles/global.css";
import FormattedDate from "../components/FormattedDate.astro";
import { ArticleCard, type ArticlePost } from "../components/ArticleCard";

const posts = await PostCollections.getPosts();
---

<Page>
  <div class:list={["article-list"]}>
    {posts.map(post => (
      <ArticleCard article={post as ArticlePost} width={200} />
    ))}
  </div>
</Page>
