---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import "@/styles/nav.css";

const props = Astro.props as Record<string, unknown>;

const title = props.title as string || SITE_TITLE;
/**
 * Top level page has following slots:
 * - head
 * - page-header
 * - [default]
 * - page-footer
 */
---
<html lang="en">
  <head>
    <slot name="head">
      <BaseHead title={title} description={`${SITE_DESCRIPTION}`} />
    </slot>

    <style>
      main {
        width: calc(100% - 2em);
        max-width: 800px;
        line-height: 1.5;
        margin: 0 auto;
      }

      main .info {
        width: 100%;
        line-height: 1;
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
      }

      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
    <script>
      const updateCounts = () => {
        const scoreEls = document.querySelectorAll(".score");
        const scoreLabel = document.querySelector(".score label");
        const questions = document.querySelectorAll("main .challenge");
        const correct = document.querySelectorAll("main .challenge.correct");

        const isQuizPage = questions.length > 0;

        if (!isQuizPage) return $int && clearInterval($int); // Not a quiz page

        if (scoreEls.length >= 2)
          console.error("Multiple score elements found");
        if (!scoreLabel)
          return console.error("Expected score label, not found");

        if (questions.length === correct.length) {
          scoreLabel.innerHTML = "All correct!";
        } else {
          scoreLabel.innerHTML = `${correct.length} / ${questions.length} correct`;
        }
      };
      let $int: ReturnType<typeof setInterval> | null = null;

      document.addEventListener("DOMContentLoaded", function () {
        $int = setInterval(updateCounts, 1000);
      });
    </script>
  </head>

  <body>
    <Header />
    <main>
      <slot name="page-header" />

      <slot />

      <slot name="page-footer" />
    </main>
    <Footer />
  </body>
</html>
