---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { ViewTransitions } from 'astro:transitions';

import {wrapGrid} from './common';

import "@/styles/nav.css";
import "@/styles/global.css";

// @ts-ignore
globalThis.wrapGrid = wrapGrid;

console.log("Page.astro", Astro.props);

const { title, subTitle } = Astro.props.frontmatter! || Astro.props;

---
<html lang="en">
  <head>
    <BaseHead title={title} description={`${subTitle}`} />
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const grid = document.querySelector(".article-list");
    
        if (!grid) return;
        // @ts-ignore
        const wrapGrid = globalThis.wrapGrid!
        // @ts-ignore
        if (wrapGrid) wrapGrid(grid, {duration : 600});
      });
      
    </script>
    
    <ViewTransitions />
  </head>

  <body class="layout-page">
    <Header />
    <main>
      <slot name="default"></slot>
    </main>
    <Footer />
  </body>
</html>
