
.info-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  
  gap: 0;
  height: 100%;  

  font-weight: 300;
  font-size: .9rem;
}

.icon {
  align-content: center;
  grid-row: span 2;
  margin: 0 0.25rem;
}


.line1 {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  
}
.line2 {


  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  
}