
.info-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  
  gap: 0;
  height: 100%;  
}

.icon {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  
}
.line1 {

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  
}
.line2 {

  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  
}